{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block body %}
    <div class="card col-md-12">
        <div class="card-header">
            <a class="btn-back text-secondary" href="{{ path("app_default_index") }}">
                <i class="fas fa-2x fa-arrow-circle-left"></i>
            </a>
            <h3>Mon Compte</h3>
        </div>
        <div class="card-body row">
            <table class="table">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Mes Commandes</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ app.user.email }}</td>
                    <td>{{ app.user.nom }}</td>
                    <td>{{ app.user.prenom }}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" href="{{ path("app_usager_commandes") }}">
                            <span class="badge badge-light">{{ nbCommandes }}</span>
                            commande(s)
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}