{% extends 'base.html.twig' %}

{% block title %}
    {{ 'default.contact.header' | trans }}
{% endblock %}

{% block body %}
    <div class="card col-md-6 offset-3">
        <div class="card-header">
            <a class="btn-back text-secondary" href="{{ path("app_default_index") }}">
                <i class="fas fa-2x fa-arrow-circle-left"></i>
            </a>
            <h3>
                <i class="fas fa-comments"></i>
                {{ 'default.contact.text' | trans }}			</h3>
        </div>
        <div class="card-body">
            <div class="card clickable" onclick="window.open('https://iut2.univ-grenoble-alpes.fr/l-iut2/qui-sommes-nous-/les-departements-de-l-iut2/informatique-info--149104.kjsp','_blank')">
                <img src="{{asset("images/iut2_info.png")}}" class="card-img" alt="logo IUT2">
                <div class="card-body">
                    <h1 class="card-title">
                        <i class="fas fa-code"></i>
                        {{ 'default.contact.semestre' | trans }}	</h1>
                    <h2 class="card-title">
                        <i class="fab fa-symfony"></i>
                        {{ 'default.contact.module' | trans }}	</h2>
                    <p>
                        <i class="far fa-copyright"></i>
                        {{ 'default.contact.author' | trans }}	</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}