{% extends 'base.html.twig' %}

{% block title %}Recherche "{{ recherche }}"{% endblock %}

{% block body %}
    <div class="card col-md-12">
        <div class="card-header">
            <a class="btn-back text-secondary" href="{{ path("app_boutique") }}">
                <i class="fas fa-2x fa-arrow-circle-left"></i>
            </a>
            <h3>
                <i class="fas fa-store"></i>
                Recherche de "<b>{{ recherche }}"</b>
                <span class="badge badge-pill badge-info">
                    {{ produits| length }}
                </span>
                produit(s)
            </h3>
        </div>
        <div class="card-body row">
            {% for produit in produits %}
                <div class="col-md-4">
                    <div class="card clickable" onclick="location = '{# {{ path("app_panier_ajouter", {'idProduit': produit.id}) }} #}'"
                         data-toggle="tooltip" title="Ajouter <b>{{ produit.libelle }}</b> à mon panier"
                         data-placement="bottom" data-html="true" data-container="body">
                        <img src="{{ asset(produit.visuel) }}" class="card-img-produit" alt="{{ produit.libelle }}">
                        <div class="card-body">
                            <h4 class="card-title">{{ produit.libelle }}</h4>
                            <p class="card-text">
                                <i>{{ categorie.texte }}</i>
                            </p>
                            <h2>
                                <span class="badge badge-primary">
                                    <i class="fas fa-cart-plus"></i>&nbsp;&nbsp;
                                    {{ produit.prix }}
                                </span>
                            </h2>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
