{% extends 'base.html.twig' %}

{% block title %}{{ 'boutique.chercher.header' | trans }}{% endblock %}

{% block body %}
    <div class="card col-md-12">
        <div class="card-header">
            <a class="btn-back text-secondary" href="{{ path("app_boutique") }}">
                <i class="fas fa-2x fa-arrow-circle-left"></i>
            </a>
            <h3>
                <i class="fas fa-store"></i>
                {{ 'boutique.chercher.text' | trans }} <b>"{{ recherche }}"</b>
                <span class="badge badge-pill badge-info">{{ products | length }}</span>
                {{ 'boutique.chercher.product' | trans }}
            </h3>
        </div>
        <div class="card-body row">
            {% for products in products %}
            <div class="col-md-4">
                <div class="card clickable" onclick="location = '/info/R401/fr/panier/ajouter/1'" data-toggle="tooltip" title="" data-placement="bottom" data-html="true" data-container="body" data-original-title="Ajouter <b>Pomme</b> à mon panier">
                    <img src="{{asset(products.visuel)}} " class="card-img-produit" alt="{{ products.libelle }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ products.libelle }}</h4>
                        <p class="card-text">
                            <i>{{ products.texte }}</i>
                        </p>
                        <h2>
				<span class="badge badge-primary">
					<i class="fas fa-cart-plus"></i>&nbsp;&nbsp;
					{{ products.prix | currency_convert }}
				</span>
                        </h2>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


