{% extends 'base.html.twig' %}

{% block title %}{{ 'boutique.index.header' | trans }}{% endblock %}

{% block body %}
    <div class="card col-md-12">
        <div class="card-header">
            <a class="btn-back text-secondary" href="/">
                <i class="fas fa-2x fa-arrow-circle-left"></i>
            </a>
            <h3>
                <i class="fas fa-store"></i>
                {{ 'boutique.index.header' | trans }}
                <span class="badge badge-pill badge-info">{{ categories | length }}</span>
                {{ 'boutique.index.rayon' | trans }}
            </h3>
        </div>
        <div class="card-body row">
            {% for categories in categories %}
            <div class="col-md-3">
                <div class="card clickable" onclick="location = '{{ path('app_boutique_rayon', { 'idCategorie': categories.id }) }}'">
                    <img src="{{asset(categories.visuel)}}" class="card-img-top" alt="Fruits">
                    <div class="card-body">
                        <h4 class="card-title">{{ categories.libelle }}</h4>
                        <p class="card-text">
                            <i>{{ categories.texte }}</i>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
